table {
    font-size: 16px;
    line-height: 24px;
    border-collapse: collapse;
    display: flex;
    max-width: 640px;
    flex-direction: column;
    margin: auto;
}

tr {
    border-bottom: 1px solid #e8eaed;
}

th {
    font-weight: 500;
    color: #202124;
}

th:first-child {
    text-align: left;
    width: calc(640px - 100px * 2);
}

th:not(:first-child) {
    text-align: right;
    padding-left: 16px;
    width: 100px;
}

td:first-child {
    font-weight: 500;
    text-transform: uppercase;
    color: #5f6368;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    width: calc(640px - 100px * 2);
}

td:not(:first-child) {
    color: #202124;
    font-weight: 500;
    text-align: right;
    width: 100px;
}
