.DisplayValue {
    display: flex;
    flex-direction: column;
    width: 5rem;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
}

.DisplayValue div:nth-child(1) {
    color: var(--color-secondary);
    font-size: var(--font-size-very-small);
}

.DisplayValue div:nth-child(2) {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
}
