.HeaderContainer {
    display: flex;
}

.HeaderContainer span {
    font-size: var(--font-size-very-large);
    font-family: var(--font-family-fat);
    padding-right: 2.5rem;
    line-height: 2.5rem;
}

.HeaderContainer span:hover {
    cursor: pointer;
}

.HeaderContainer app-search {
    flex: 1;
}
