.SearchContainer,
.SearchResultContainer {
    z-index: 10;
    background-color: white;
    border-radius: 22px;
}

.SearchContainer {
    font-size: 16px;
    width: auto;
    border: 1px solid #dfe1e5;
    min-height: 44px;
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 10;
    position: relative;
}

.SearchContainer .material-icons {
    font-size: 20px !important;
    padding-top: 4px !important;
}

.SearchContainer:hover,
.SearchContainer:focus-within {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.SearchContainer div {
    display: flex;
    flex-direction: row;
    border: none;
}

.SearchInputContainer {
    min-height: 44px;
}

.SearchResultContainer {
    flex-direction: column !important;
    padding-bottom: 15px;
}

.SearchResultBreak {
    border-top: 1px solid #dfe1e5 !important;
    margin: 0 20px 0 14px;
    padding-bottom: 4px;
}

.SearchResult {
    min-height: 36px;
    align-items: center;
    background: white;
}

.SearchResult[selected="false"] {
    background: white;
}

.SearchResult[selected="true"] {
    background: #eee;
}

.SearchResult:hover {
    cursor: pointer;
}

.SearchContainer input,
.SearchContainer input:focus {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-left: -3px; // TODO: Investigate why this is need to algin with .SearchResult
}

.SearchIcon, .SearchResultIcon {
    display: flex;
    align-items: center;
    padding: 0px 14px;
    color: grey;
}

.SearchIconHasFunction:hover {
    cursor: pointer;
}