.card {
    border-radius: .5rem;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
    padding: 1rem;
    overflow: auto;
    width: 250px;
    margin: 8px;
}

.header {
    display: flex;
    height: 2.4rem;
    line-height: 1.2rem;
    overflow: hidden;
}

.header-left {
    float: left;
}

.header-left img {
    height: 2.4rem;
    object-fit: scale-down;
}

.header-right {
    flex-grow: 1;
    padding: 0 0 0 1rem;
    vertical-align: middle;
}

.upper {
    font-size: 1rem;
}

.lower {
    color: rgba(0, 0, 0, .8);
    font-size: .8rem;
}

.summary {
    display: flex;
}

.sentiment, .movement{
    font-size: .8rem;
    font-weight: 700;
    padding: 5px;
    text-align: right;
    width: 50%;
}

.sentiment {
    margin: 10px 2.5px 0px 0px;
}

.movement {
    margin: 10px 0px 0px 2.5px;
}

.sentiment[sentiment=positive], .movement[movement=positive] {
    background: #cce2d8;
    color: #005a30;
}

.sentiment[sentiment=negative], .movement[movement=negative] {
    color: #942514;
    background: #f6d7d2;
}

.sentiment[sentiment=neutral], .movement[movement=neutral] {
    background: #ebe9e7;
    color: #383f43;
}
